@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --color-background: var(--background);
  --color-primary: #03a87c;
  --color-dPrimary: #1A1A1A;
  --font-b612-mono: "B612 Mono", monospace;
  --font-lora: "Lora", serif;
  --breakpoint-7xl: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #ededed;
  }
}

body {
  font-family: "Cabin", sans-serif;
}

.blog-container {
  @apply container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8
}

.swiper{
  padding-bottom: 56px !important;
}

.swiper-pagination-bullet-active{
  background: rgb(3, 168, 124) !important;
}

.zoom {
  overflow: hidden
}

.zoom img {
  transition: all 2s ease;
  max-width: 100%
}

.zoom:hover img {
  opacity: .9;
  transform: scale(1.08)
}

.blog-container{
  @apply   max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
